@model BitStoreWeb.Endpoints.API.APIViewModel

<hgroup class="title">
	<h2>API</h2>
</hgroup>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="nav-header">Reference</li>
				<li class="active"><a href="#lA" data-toggle="tab">Get</a></li>
				<li><a href="#lB" data-toggle="tab">Set</a></li>
				<li><a href="#lC" data-toggle="tab">Clear</a></li>
				<li><a href="#lD" data-toggle="tab">List</a></li>
				<li><a href="#lE" data-toggle="tab">Timestamp</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="lA">
					<h4>Get</h4>
					<p>Lorem ipsidum lalla</p>
				</div>
				<div class="tab-pane" id="lB">
					<h4>Set</h4>
					<p>Lorem ipsidum lalla</p>
				</div>
				<div class="tab-pane" id="lC">
					<h4>Clear</h4>
					<p>Lorem ipsidum lalla</p>
				</div>
				<div class="tab-pane" id="lD">
					<h4>List</h4>
					<p>Lorem ipsidum lalla</p>
				</div>
				<div class="tab-pane" id="lE">
					<h4>Timestamp</h4>
					<p>Lorem ipsidum lalla</p>
				</div>
			</div>
		</div>
	</div>
</div>