<div class="row-fluid viewbucket">
    <div class="label label-info" style="padding:0 10px 0 10px;"><h2>Testbucket</h2></div>
    <h5><span class="muted">Testbucket for BitStore, feel free to go nuts!</span></h5>
    <h4>Found 332 records in the bucket Testbucket</h4><br />

    <form class="form-search">
        <input type="text" class="input-medium search-query" />
        <button type="submit" class="btn">Go to row</button>
        <button type="submit" class="btn btn-danger" href="#clear-all-modal" data-toggle="modal" style="float:right;">Clear all</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>New Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>567</td>
                <td>2013-12-31 23:59:59</td>
                <td><input type="text" placeholder="567" /></td>
                <td><button class="btn btn-mini btn-success" type="button">Save</button></td>
                <td><button class="btn btn-mini btn-warning" type="button" href="#clear-row-modal" data-toggle="modal">Clear</button></td>
                <td><button class="btn btn-mini btn-danger" type="button" href="#delete-row-modal" data-toggle="modal">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-holder clearfix">
        <div id="light-pagination"></div>
    </div>
    <br />
    <button class="btn" type="button" href="#delete-bucket-modal" data-toggle="modal">Delete bucket</button>

    <div class="modal fade" id="clear-all-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Clear all</h3>
            <h5>Do you really want to clear all records for bucket Testbucket?</h5><br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">No</a>
            <a href="#" class="btn btn-primary">Yes</a>
        </div>
    </div>

    <div class="modal fade" id="delete-bucket-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Delete bucket</h3>
            <h5>Do you really want to delete the bucket Testbucket?</h5><br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">No</a>
            <a href="#" class="btn btn-primary">Yes</a>
        </div>
    </div>

    <div class="modal fade" id="delete-row-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Delete row</h3>
            <h5>Do you really want to delete the row 234 in the bucket Testbucket?</h5><br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">No</a>
            <a href="#" class="btn btn-primary">Yes</a>
        </div>
    </div>

    <div class="modal fade" id="clear-row-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Clear row</h3>
            <h5>Do you really want to clear the row 234 in the bucket Testbucket?</h5><br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">No</a>
            <a href="#" class="btn btn-primary">Yes</a>
        </div>
    </div>
</div>
