@model BitStoreWeb.Endpoints.HowTo.HowToViewModel

<hgroup class="title">
    <h2>How to use BitStore</h2>
	<h4>5 steps to fame and glory!</h4>
</hgroup>

<br />

<h3>1. Create a bucket</h3>
<p>Go to the buckets tab, enter your email and create a new bucket</p>

<h3>2. Open your IDE of choise</h3>
<p>Create a script and try this one:</p>
<pre class="sh_javascript_dom">
1.	var bucket = 'https://bitstore/testbucket/'
</pre>

<h3>3. Store a string</h3>
<p>Set a string to your newly created bucket:</p>
<pre class="sh_javascript_dom">
1.	var bucket = 'https://bitstore/testbucket/'
2.	$.bitStore.set(bucket, '1337'());
</pre>

<h3>4. Get a string</h3>
<p>Get the string from your bucket:</p>
<pre class="sh_javascript_dom">
1.	var bucket = 'https://bitstore/testbucket/'
2.	$.bitStore.set(bucket, '1337'());
3.	highscore = $.bitStore.get(bucket);
</pre>

<h3>5. Example</h3>
<label>Enter something</label>
<textarea id="input"></textarea>
<div class="clearfix"></div>
<button class="btn">Show me something</button>
<div class="result" style="display:none;">
	<h2 id="stringFromSpaceOutput">1345</h2>
	<p>Voilá! This string has traveled in space...</p>
</div>

<script type="text/javascript">
	$(".btn").click(function () {
		var epicStringFromSpace = $('#input').val();
		$('#stringFromSpaceOutput').html(epicStringFromSpace);
		$(".result").show();
	});
</script>