@model BitStoreWeb.Endpoints.HowTo.HowToViewModel

<hgroup class="title">
    <h2>How to use BitStore</h2>
	<h4>5 steps to fame and glory!</h4>
</hgroup>
<br />
<h3>1. Create a bucket</h3>
<p>Go to the buckets tab, enter your email and create a bucket</p>