@inject IWebHostEnvironment Environment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BitStoreWeb.Net9</title>
    @if (Environment.IsDevelopment())
    {
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/frontend/main.js"></script>
    }
    else
    {
        <link rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
    }
    <link rel="stylesheet" href="~/BitStoreWeb.Net9.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logoB.png" alt="BitStore logo" style="height: 28px;" />
                </a>
                <div>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - BitStoreWeb.Net9 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @if (!Environment.IsDevelopment())
    {
        <script type="module" src="~/dist/app.js" asp-append-version="true"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
